<section class="hero text-center py-5" style="margin-top: 160px;">
    <div class="container" style="padding-top: 50px; padding-bottom: 30px;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 fw-bolder text-white mb-3">
                    <img src="/assets/img/logo/logo.png" alt="logo" width="60"> <span class="hero-title">Kythia</span> Premium
                </h1>
                <p class="lead text-white-50 mb-4" style="max-width: 700px; margin: 0 auto;">
                    Unlock exclusive features and get access to premium services for your Discord community.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="container py-md-12 py-6 px-xl-10 px-4" style="margin-top: 160px;">
    <div class="row mx-0 px-lg-12 gy-6 justify-content-center">
        <!-- Bronze -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4 px-3">
            <div class="card glass-effect border rounded shadow-none h-100">
                <div class="card-body pt-5 d-flex flex-column">
                    <div class="mt-3 mb-4 text-center">
                        <img src="/assets/img/icons/unicons/bronze-medal.png" alt="Bronze" width="80" />
                    </div>
                    <h4 class="card-title text-center text-capitalize mb-1 fw-bold fs-4">Bronze</h4>
                    <p class="text-center text-white-50 mb-4">For active personal users.</p>
                    <div class="text-center h-px-50 mb-4">
                        <div class="d-flex justify-content-center align-items-end">
                            <sup class="h6 text-body pricing-currency mt-2 mb-0 me-1">$</sup>
                            <h1 class="mb-0 text-primary" style="font-size:2.5rem;">2</h1>
                            <sub class="h6 text-body pricing-duration mt-auto mb-1">/month</sub>
                        </div>
                    </div>
                    <ul class="list-group my-4 pt-2">
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Access to premium music commands</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Daily economy bonus items</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Exclusive profile badge</span>
                        </li>
                        <li class="mb-0 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Special role in support server</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary d-grid w-100 mt-auto">Choose Plan</a>
                </div>
            </div>
        </div>

        <!-- Silver -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4 px-3">
            <div class="card glass-effect border-primary border shadow-none h-100 highlight">
                <div class="card-body position-relative pt-4 d-flex flex-column">
                    <div class="position-absolute end-0 me-5 top-0 mt-4">
                        <span class="badge bg-label-primary rounded-1">Popular</span>
                    </div>
                    <div class="my-4 pt-2 text-center">
                        <img src="/assets/img/icons/unicons/silver-medal.png" alt="Silver" width="80" />
                    </div>
                    <h4 class="card-title text-center text-capitalize mb-1 fw-bold fs-4">Silver</h4>
                    <p class="text-center text-white-50 mb-4">For power-users with many benefits.</p>
                    <div class="text-center h-px-50 mb-4">
                        <div class="d-flex justify-content-center align-items-end">
                            <sup class="h6 text-body pricing-currency mt-2 mb-0 me-1">$</sup>
                            <h1 class="mb-0 text-primary" style="font-size:2.5rem;">5</h1>
                            <sub class="h6 text-body pricing-duration mt-auto mb-1">/month</sub>
                        </div>
                    </div>
                    <ul class="list-group my-4 pt-2">
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span><strong>All Bronze features</strong></span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Access to AI features (Image Generation)</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Faster command cooldowns</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Higher XP & Drop Rate bonus</span>
                        </li>
                        <li class="mb-0 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Longer music queue</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary d-grid w-100 mt-auto">Choose Plan</a>
                </div>
            </div>
        </div>

        <!-- Gold -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4 px-3">
            <div class="card glass-effect border rounded shadow-none h-100">
                <div class="card-body pt-5 d-flex flex-column">
                    <div class="mt-3 mb-4 text-center">
                        <img src="/assets/img/icons/unicons/gold-medal.png" alt="Gold" width="80" />
                    </div>
                    <h4 class="card-title text-center text-capitalize mb-1 fw-bold fs-4">Gold</h4>
                    <p class="text-center text-white-50 mb-4">Unlimited personal experience.</p>
                    <div class="text-center h-px-50 mb-4">
                        <div class="d-flex justify-content-center align-items-end">
                            <sup class="h6 text-body pricing-currency mt-2 mb-0 me-1">$</sup>
                            <h1 class="mb-0 text-primary" style="font-size:2.5rem;">10</h1>
                            <sub class="h6 text-body pricing-duration mt-auto mb-1">/month</sub>
                        </div>
                    </div>
                    <ul class="list-group my-4 pt-2">
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span><strong>All Silver features</strong></span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Unlimited AI image generation</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Create AI roleplay characters</span>
                        </li>
                        <li class="mb-0 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Custom profile with background</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary d-grid w-100 mt-auto">Choose Plan</a>
                </div>
            </div>
        </div>

        <!-- Server Basic -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4 px-3">
            <div class="card glass-effect border rounded shadow-none h-100">
                <div class="card-body pt-5 d-flex flex-column">
                    <div class="mt-3 mb-4 text-center">
                        <img src="/assets/img/icons/unicons/server-basic.png" alt="Server Basic" width="80" />
                    </div>
                    <h4 class="card-title text-center text-capitalize mb-1 fw-bold fs-4">Server Basic</h4>
                    <p class="text-center text-white-50 mb-4">Upgrade one server.</p>
                    <div class="text-center h-px-50 mb-4">
                        <div class="d-flex justify-content-center align-items-end">
                            <sup class="h6 text-body pricing-currency mt-2 mb-0 me-1">$</sup>
                            <h1 class="mb-0 text-primary" style="font-size:2.5rem;">8</h1>
                            <sub class="h6 text-body pricing-duration mt-auto mb-1">/month</sub>
                        </div>
                    </div>
                    <ul class="list-group my-4 pt-2">
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Custom welcome & farewell messages</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Extended audit log</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Auto-role for up to 5 roles</span>
                        </li>
                        <li class="mb-0 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Advanced auto-moderation</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary d-grid w-100 mt-auto">Choose Plan</a>
                </div>
            </div>
        </div>

        <!-- Server Pro -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4 px-3">
            <div class="card glass-effect border rounded shadow-none h-100">
                <div class="card-body pt-5 d-flex flex-column">
                    <div class="mt-3 mb-4 text-center">
                        <img src="/assets/img/icons/unicons/server-pro.png" alt="Server Pro" width="80" />
                    </div>
                    <h4 class="card-title text-center text-capitalize mb-1 fw-bold fs-4">Server Pro</h4>
                    <p class="text-center text-white-50 mb-4">Full features for 3 servers.</p>
                    <div class="text-center h-px-50 mb-4">
                        <div class="d-flex justify-content-center align-items-end">
                            <sup class="h6 text-body pricing-currency mt-2 mb-0 me-1">$</sup>
                            <h1 class="mb-0 text-primary" style="font-size:2.5rem;">15</h1>
                            <sub class="h6 text-body pricing-duration mt-auto mb-1">/month</sub>
                        </div>
                    </div>
                    <ul class="list-group my-4 pt-2">
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span><strong>All Server Basic features</strong></span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Premium for <strong>3 Servers</strong></span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Premium music for all members</span>
                        </li>
                        <li class="mb-0 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Social media notifications (Twitch, YouTube)</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary d-grid w-100 mt-auto">Choose Plan</a>
                </div>
            </div>
        </div>

        <!-- Diamond -->
        <div class="col-xl-4 col-lg-4 col-md-6 mb-4 px-3">
            <div class="card glass-effect border rounded shadow-none h-100">
                <div class="card-body pt-5 d-flex flex-column">
                    <div class="mt-3 mb-4 text-center">
                        <img src="/assets/img/icons/unicons/diamond.png" alt="Diamond" width="80" />
                    </div>
                    <h4 class="card-title text-center text-capitalize mb-1 fw-bold fs-4">Diamond</h4>
                    <p class="text-center text-white-50 mb-4">Ultimate package for personal & server.</p>
                    <div class="text-center h-px-50 mb-4">
                        <div class="d-flex justify-content-center align-items-end">
                            <sup class="h6 text-body pricing-currency mt-2 mb-0 me-1">$</sup>
                            <h1 class="mb-0 text-primary" style="font-size:2.5rem;">25</h1>
                            <sub class="h6 text-body pricing-duration mt-auto mb-1">/month</sub>
                        </div>
                    </div>
                    <ul class="list-group my-4 pt-2">
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span><strong>All Gold features</strong> (Personal)</span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span><strong>All Server Pro features</strong></span>
                        </li>
                        <li class="mb-3 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Premium for <strong>5 Servers</strong></span>
                        </li>
                        <li class="mb-0 d-flex align-items-center">
                            <span class="badge p-50 w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <span>Priority support</span>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary d-grid w-100 mt-auto">Choose Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Pricing Plans -->


<!-- FAQ Section -->
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <h2 class="text-center fw-bold text-white mb-4">Frequently Asked Questions (FAQ)</h2>
            <div class="accordion" id="faqAccordion">
                <div class="accordion-item glass-effect">
                    <h2 class="accordion-header">
                        <button class="accordion-button glass-effect" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-1">
                            How do I get the benefits after subscribing?
                        </button>
                    </h2>
                    <div id="faq-1" class="accordion-collapse " data-bs-parent="#faqAccordion">
                        <div class="accordion-body pt-4">
                            After you successfully subscribe, the benefits will automatically be activated on
                            your Discord account. For server benefits, you can use the
                            <code>/premium claim</code> command in the server you want.
                        </div>
                    </div>
                </div>
                <div class="accordion-item glass-effect">
                    <h2 class="accordion-header">
                        <button class="accordion-button glass-effect collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-2">
                            Can I cancel my subscription at any time?
                        </button>
                    </h2>
                    <div id="faq-2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body pt-4">
                            Yes, you can cancel your subscription at any time through our payment dashboard.
                            Your benefits will remain active until the end of the paid billing cycle.
                        </div>
                    </div>
                </div>
                <div class="accordion-item glass-effect">
                    <h2 class="accordion-header">
                        <button class="accordion-button glass-effect collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#faq-3">
                            What payment methods are accepted?
                        </button>
                    </h2>
                    <div id="faq-3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                        <div class="accordion-body pt-4">
                            We accept payments via major credit/debit cards (Visa, MasterCard) and also through
                            online payment platforms such as PayPal and Stripe for your convenience and
                            security.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>