<section class="hero text-center py-5" style="margin-top: 160px;">
    <div class="container" style="padding-top: 50px; padding-bottom: 30px;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 fw-bolder mb-3">
                    <img src="/assets/img/logo/logo.png" alt="logo" width="60"> <span class="hero-title">Kythia</span> Terms of
                    Service
                </h1>
                <p class="lead  mb-4" style="max-width: 700px; margin: 0 auto;">
                    Please read these Terms of Service ("Terms") carefully before using Kythia Discord bot and its
                    associated services and website ("Service"), operated by kenndeclouv.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="container" style="margin-top: 160px;">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card glass-effect">
                <div class="card-body">

                    <header class="pb-4 mb-4 border-bottom border-white/10">
                        <h1 class="display-5 fw-bold">Terms of Service</h1>
                        <p class="">Last updated: 6 August 2025</p>
                    </header>

                    <div class="legal-text">
                        <p>Please read these Terms of Service ("Terms") carefully before using the Kythia Discord bot
                            and its associated services and website ("Service"), operated by kenndeclouv.</p>
                        <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance
                            with these Terms. By adding [Kythia] to your Discord server or using our Service, you agree
                            to be bound by these Terms.</p>

                        <h3>1. Use of the Service</h3>
                        <p>You agree not to use the Service for any purpose that is illegal or prohibited by these
                            Terms. You are responsible for your conduct and any content you generate using the Service.
                            You agree not to:</p>
                        <ul>
                            <li>Abuse the Service's features, including spamming commands.</li>
                            <li>Attempt to exploit bugs or vulnerabilities in the Service.</li>
                            <li>Use the Service to harass, defame, or harm others.</li>
                            <li>Violate Discord's Terms of Service or Community Guidelines through your use of our
                                Service.</li>
                        </ul>

                        <h3>2. Intellectual Property</h3>
                        <p>The Service and its original content, features, and functionality are and will remain the
                            exclusive property of kenndeclouv. The Service is protected by copyright and
                            other laws. Our name and logo may not be used in connection with any product or service
                            without our prior written consent.</p>

                        <h3>3. Termination</h3>
                        <p>We may terminate or suspend your access to our Service immediately, without prior notice or
                            liability, for any reason whatsoever, including without limitation if you breach the Terms.
                        </p>
                        <p>We reserve the right to prevent any Discord server or user from using the Service at our sole
                            discretion.</p>

                        <h3>4. Disclaimers and Limitation of Liability</h3>
                        <p>The Service is provided on an "AS IS" and "AS AVAILABLE" basis. We do not warrant that the
                            service will be uninterrupted, secure, or error-free.</p>
                        <p>In no event shall kenndeclouv be liable for any indirect, incidental,
                            special, consequential or punitive damages, including without limitation, loss of data,
                            goodwill, or other intangible losses, resulting from your access to or use of or inability
                            to access or use the Service.</p>

                        <h3>5. Changes to These Terms</h3>
                        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time.
                            We will provide notice of any changes by posting the new Terms on this page. By continuing
                            to access or use our Service after those revisions become effective, you agree to be bound
                            by the revised terms.</p>

                        <h3>6. Contact Us</h3>
                        <p>If you have any questions about these Terms, please contact me at <a
                                href="mailto:me@kenn.my.id">me@kenn.my.id</a> or by joining our <a
                                href="https://dsc.gg/kythia" target="_blank">Support Server</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>