<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">
                kythia &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> by <a href="https://kenndeclouv.me" target="_blank" class="footer-link">kenndeclouv</a>
            </div>
            <div class="d-none d-lg-inline-block">

                <a href="/" target="_blank" class="footer-link me-4">Home</a>
                <a href="/privacy" class="footer-link me-4" target="_blank">Privacy</a>
                <a href="/tos" target="_blank" class="footer-link me-4">Tos</a>
                <a href="https://dsc.gg/kythia" target="_blank"
                    class="footer-link d-none d-sm-inline-block">Support</a>

            </div>
        </div>
    </div>
</footer>